<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %} Severe Gaming {% endblock %}</title>
    <link rel="shorcut icon" type="image/png" href="{% static "images/favicon.png" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>
    {% block css %} {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" contect="ie=edge">
  </head>
  <body>
    <section class="navigation">
      <div class="nav-container">
        <nav>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!">
              <span></span>
            </a>
          </div>
          <ul class="nav-list">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="{% url 'pages:news' %}">News</a>
            </li>
            <li>
              <a href="{% url 'pages:teams' %}">Teams</a>
            </li>
            <li>
              <a href="{% url 'pages:matches' %}">Matches</a>
            </li>
            <li>
              <a href="{% url 'pages:media' %}">Media</a>
            </li>
            <li>
              <a href="{% url 'pages:sponsors' %}">Sponsors</a>
            </li>
            <li>
              <a href="{% url 'pages:contact' %}">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <header class="banner"></header>
    {% block body %}
    {% endblock %}
    <div class="footer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="{% static "script/menu.js"}"></script>
  </body>
</html>
