{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title %} Achievements - Severe Gaming {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static "css/achievements.css" %}"/> {% endblock %}
{% block body %}
    <!-- Top Container -->
    <section class="container">
      <div class="title">
        <h1>Our Achievements</h1>
      </div>
      <div class="row">
        <div class="column">
          <div class="title">
            <h2>DOTA 2</h2>
          </div>
          <div class="paragraph">
            <div style="text-align: center;">
              <div style="display: inline-block; text-align: left;">
                <p>
                  2017:
                  <br> • Joined DGL Ladder during second leg
                  <br> • Made Second Division 3rd leg
                  <br> • Ended 2nd in Second Division
                  <br>
                  <br> 2018:
                  <br> • Made top 16 in VS GAMING Dota 2 League Qualifier
                  <br> • Made Premier Division
                  <br> • Ended 3rd in Premier Divsion at the end of the first leg
                  <br> • Endeed 6th in Premier Divsion at the end of the second leg
                  <br> • Endeed 3rd in Premier Divsion at the end of the third leg
                  <br>
                </p>
              </div>
            </div>
          </div>

        </div>
        <div class="column">
          <div class="title">
            <h2>Counter-Strike: Global Offensive</h2>
          </div>
          <div class="paragraph">
            <!-- FIXME -->
            <!-- these styles must move into a css file -->
            <div style="text-align: center;">
              <div style="display: inline-block; text-align: left;">
                <p>
                  2018:
                  <br> • Made top 8 in VS GAMING Dota 2 League Qualifier
                  <br> • Made Masters Division
                  <br> • Ended 8th in Masters Divsion at the end of the first leg
                  <br> • Ended 3rd in Premier Divsion at the end of the second leg
                  <br> • Ended 2nd in Premier Divsion at the end of the third leg
                  <br> • Promoted to Masters Division
                  <br>
                </p>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
