{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title %} Media - Severe Gaming {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static "css/media.css" %}"/> {% endblock %}
{% block body %}
    <section class="container">
      <a href="https://www.youtube.com/channel/UCGw8jG9S-uAiELf0tH_pfWw">
        <div class="dota2"></div>
      </a>
      <a href="https://www.youtube.com/channel/UCGw8jG9S-uAiELf0tH_pfWw">
        <div class="CSGO"></div>
      </a>
      <a href="https://www.youtube.com/channel/UCGw8jG9S-uAiELf0tH_pfWw">
        <div class="hearthstone"></div>
      </a>
      <a href="https://www.youtube.com/channel/UCGw8jG9S-uAiELf0tH_pfWw">
        <div class="overwatch"></div>
      </a>
    </section>
{% endblock %}
