{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title %} Sponsors - Severe Gaming {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static "css/sponsors.css" %}"/> {% endblock %}
{% block body %}

    <!-- Main Body Container -->
    <div class="container vertical-align">
      <div class="row my-row">
        <div class="col-sm">
          <div class="title">
            <h1>Sponsors</h1>
          </div>
          <div class="paragraph">
            <p>
            We are currently looking for sponsors to aid our players on their journeys, if interested please contact us by using the contact form. We believe that we would be able to help sponsors also! Thanks!
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
