{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title %} Teams - Severe Gaming {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static "css/teams.css" %}"/> {% endblock %}
{% block body %}
    <!-- Top Container -->

    <div class="parallax-container">
      <section>
        <div class="dotz">
          <div class="image" data-type="background" data-speed="2">
            <div class="teams" data-type="content">
              <div class="gametitle">
                <h1>DOTA 2</h1>
              </div>
              <div class="box teams-container">
                <div class="playerprofile">
                  <div class="profilepic"></div>
                  <h3>Lorin "Sil" Bohm</h3>
                  <p>Position: Carry</p>
                </div>
                <div class="playerprofile">
                  <div class="profilepic"></div>
                  <h3>Michael "AcidMan" Davis</h3>
                  <p>Position: Mid</p>
                </div>
                <div class="playerprofile">
                  <div class="profilepic"></div>
                  <h3>Ryan "Psuedo" Roux</h3>
                  <p>Position: Offlane</p>
                </div>
                <div class="playerprofile">
                  <div class="profilepic"></div>
                  <h3>Nicholas "Ench" Weyer</h3>
                  <p>Position: Support</p>
                </div>
                <div class="playerprofile">
                  <div class="profilepic"></div>
                  <h3>Martin "VivAZ" Buxmann</h3>
                  <p>Postion: Support</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- <section>
        <div class="image" data-type="background" data-speed="7">
          <div class="teams" data-type="content">
            <div class="gametitle">
              <h1>Counter-Strike: Global Offensive</h1>
            </div>
            <div class="box teams-container">
              <div class="playerprofile">
                <div class="profilepic"></div>
                <h3>Marco "m3mories" du Plessis</h3>
                <p></p>
              </div>
              <div class="playerprofile">
                <div class="profilepic"></div>
                <h3>Renier "spam" Spamer</h3>
                <p></p>
              </div>
              <div class="playerprofile">
                <div class="profilepic"></div>
                <h3>Wayne "LimbZ" Moorcroft</h3>
                <p></p>
              </div>
              <div class="playerprofile">
                <div class="profilepic"></div>
                <h3>Dylan "nukeM" Moorcroft</h3>
                <p></p>
              </div>
              <div class="playerprofile">
                <div class="profilepic"></div>
                <h3>Graeme "koruptbb" Blackburn</h3>
                <p></p>
              </div>
              <div class="playerprofile">
                <div class="profilepic"></div>
                <h3>Matthew "Hashimoto" Maselle</h3>
                <p></p>
              </div>
            </div>
          </div>
          <div class="teams" data-type="content"></div>
        </div>
      </section> -->
{% endblock %}
