{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title %} Teams - Severe Gaming {% endblock %}
{% block css %} 
<link rel="stylesheet" href="{% static "css/dota.css" %}"/> 
<script src="{% static "scripts/tables.js" %}"></script>
{% endblock %}
{% block body %}
<!-- Top Container -->

<div class="container-fluid dotateam">
        
        <div class="blackback">    
        <!-- <button class="btn btn-primary btn-lg" onclick="goBack()">Go Back</button> -->
        
        <h1>Severe DOTA 2</h1>
        <div class="row d-flex justify-content-center">
        
        {% for players in Dota2Players %}
            <div class="col-sm-2">
                <img src="{{players.picture.url}}"/>
                <div class="name">{{players.name}} "{{players.username}}" {{players.surname}}</div>
                <div class="position">Position: {{players.position}}</div>
            </div>
        {% endfor %}
        </div>
        <h1>Achievements</h1>
        <div class="achievements">

<!-- The table was forked from Nikhil Krishnan's codepen including the JavaScript File-->

<!--
Copyright (c) 2019 by Nikhil Krishnan (https://codepen.io/nikhil8krishnan/pen/WvYPvv)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Leg</th>
                    <th>Placed</th>
                </tr>
                </thead>
            </table>
            </div>
            <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                {% for achievements in DotaAchievements %}
                <tr>
                    <td>{{achievements.year}}</td>
                    <td>{{achievements.league}}</td>
                    <td>{{achievements.division}}</td>
                    <td>{{achievements.leg}}</td>
                    <td>{{achievements.placed}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>  

{% endblock %}

