{% extends 'pages/base.html' %}
{% load staticfiles %}
{% block title %} Teams - Severe Gaming {% endblock %}
{% block css %} 
<link rel="stylesheet" href="{% static "css/rocketleague.css" %}"/> 
{% endblock %}
{% block body %}
<!-- Top Container -->

<div class="container-fluid">
    <section class="rocketleagueteam">
        <div class="row blackback d-flex justify-content-center">
            <div class="text">
                <p>
                    We currently don't have a Rocket League team. If you are interrested or know a team that
                    would be interrested please contact us through the contact us page.
                </p>
            </div>
        </div>
    </section>
</div>  

{% endblock %}
