.container{
    margin-top: 20px;
    margin-bottom:30px;
}

label{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0px;
}
.helptext{ 
    text-align: left;
}
ul{
    padding-left: 0;
}
h2{
    text-align: center;
    margin: 0px 0 10px 0;
}

.site-form label{
    margin-top: 10px;
}
.site-form input, .site-form textarea, .site-form label, .helptext {
    display: block;
    width: 40vw;
    margin: 5px auto;

}

textarea, input{
    color:black;
}

