.container{
    margin-top: 20px;
    margin-bottom:16.6vh;
}

h2{
    text-align: center;
}

.site-form input, .site-form label{
    display: block;
    width: 40vw;
    margin: 5px auto;
}

input {
    display:block !important;
    color:black;
}